*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url("image/pexels-red-zeppelin-4862297.jpg");
    background-size: cover;
}
header{
    
    height: 80px;
    background-color: rgb(250, 38, 38);
}
.header_left{
   padding-bottom: 50px;
}
.header_leftimg{
    margin-bottom: 50px;
}
h2{
    font-size: 1.6em;
}
.main{
    margin-top: 50px;
    height: 500px;
    width: 100%;
}
.def{
    font-family: Cabrito Flare;
    font-size: 2.5em;
    color: white;
    text-align: justify;
    padding: 50px 50px 0px 0px;
    margin-left: 50px;
}
nav{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   justify-content: center;
    display: flex;
}
nav ul{
    display: flex;
    gap:30px;
    margin-left: 500px;
    margin-top: 15px;
    
}
nav ul li{
    list-style-type:none;
    font-size: 15px;

}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    position: relative;
    margin: 0 15px;
}
nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  border-radius: 6px;
  width: 0%;
  height: 3px;
  background-color:white ;
  transition: width 0.2s ease;
}

nav ul li a:hover::after {
  width: 100%;
}
.subcontent{
    background: rgba(0,0,0,0.5);
    width: 70%;
    height: 150px;
    margin-left: 150px;
    padding-top: 50px;
    border-radius: 10px 30px 10px 30px;
    align-content: center;
}
.icon ul{
    color: white;
    
}
.periods{
    font-family: Cabrito Flare;
    font-size: 2.0em;
    color: white;
    text-align: justify;
    padding: 50px 50px 0px 0px;
    margin-left: 70px;
}
.book{
    width: 150px;
    height: 20px;
    background: rgb(247, 3, 3);
    margin-left: 100px;
    border-radius: 10px 30px 10px 30px;
    display: flex;
    justify-content: center; 
    align-items: center;     
    padding: 20px;   
    font-size: 1.2em;
    color: white;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;     
}
